---
- name: Mise à jour du cache APT
  apt:
    update_cache: yes
    cache_valid_time: 3600

- name: Installation des dépendances
  apt:
    name:
      - ca-certificates
      - curl
      - gnupg
      - lsb-release
    state: present

- name: Création du dossier keyrings
  file:
    path: /etc/apt/keyrings
    state: directory
    mode: '0755'

- name: Ajout de la clé GPG Docker (méthode moderne)
  get_url:
    url: https://download.docker.com/linux/ubuntu/gpg
    dest: /etc/apt/keyrings/docker.asc
    mode: '0644'

- name: Ajout du dépôt Docker officiel
  apt_repository:
    repo: >
      deb [arch=amd64 signed-by=/etc/apt/keyrings/docker.asc]
      https://download.docker.com/linux/ubuntu
      {{ ansible_distribution_release }} stable
    state: present
    filename: docker

- name: Installation de Docker Engine et Docker Compose
  apt:
    name:
      - docker-ce
      - docker-ce-cli
      - containerd.io
      - docker-compose-plugin
    state: present
    update_cache: yes

- name: Activation et démarrage de Docker
  service:
    name: docker
    state: started
    enabled: yes


- name: Ajout de l'utilisateur au groupe docker
  user:
    name: "{{ ansible_user | default('rt') }}"
    groups: docker
    append: yes
